# Table of Contents
Modular Programming is a design technique to break your code into different parts. These parts in which we are breaking code into are called modules.

1. What are Python Built-in Modules
2. Different ways to import a Module in Python
3. The Math Module 
4. The Random Module
5. The Time Module
6. The DateTime Module
7. The Calendar Module

## 1.  What are Python Built-in Modules
- In Python, Modules are simply files with the `. py` extension containing Python code (variables, functions, classes etc) that can be imported inside another Python Program. 
- You can think of Python module like a C library, which is linked with C program during the linking phase.
- Some advantages of Modular programming are:
>- **Modularity:** We use modules to break down large programs into small manageable and organized files. 
>- **Simplicity:** Rather than focusing the entire problem at hand, a module typically focuses on one relatively small portion of the problem.
>- **Maintainability:** Modules are typically designed so that they enforce logical boundries between different problem domains.
>- **Reusability:** Functionality defined in a single module can be easily reused (through an appropriately defined interface) by other parts of the application. This eliminates the need to duplicate code. We can define our most used functions in a module and import it, instead of copying their definitions into different programs.
>- **Scoping:** Modules typically define a separate namespace, which helps avoid collisions between identifiers in different areas of a program. The key benefit of using modules is _namespaces_: you must import the module to use its functions within a Python script or notebook. Namespaces provide encapsulation and avoid naming conflicts between your code and a module or across modules.


**Note**: - A module is a single file of Python code that is meant to be imported, while a Python package is a simple directory having collections of Python modules under a common namespace.

## 2. Ways to Import a Python Module
- Python math module contains rich set of functions, that allows you to perform mathematical tasks on numbers.
- Since the math module comes packaged with the Python release, you don't have to install it separately. Using it is just a matter of importing the module

### a. Option 1: `import math`
>- We can use the **`import`** keyword to import a module, and later using the module name we can access its functions using the dot . operator, like `math.ceil()`

In [1]:
# We have seen the use of dir() function. When called without argument it displays symbols of current module
print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__session__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'open', 'quit']

In [2]:
import math
print(dir())
math.ceil(2.3)
math.factorial(10)

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__session__', '__spec__', '_dh', '_i', '_i1', '_i2', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'math', 'open', 'quit']

3628800

### b. Option 2: `import math as m`
>- We can also import a module by using a short alias, thus saving typing time in some cases. Note that in this case, the name `math` will not be recognized in our scope. Hence, `math.ceil()` is invalid and `m.ceil()` is the correct implementation.

In [3]:
import math as m
print(dir())
m.ceil(2.3)

['In', 'Out', '_', '_2', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__session__', '__spec__', '_dh', '_i', '_i1', '_i2', '_i3', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'm', 'math', 'open', 'quit']

3

### c. Option 3:`from math import ceil`        OR       `from math import ceil, floor`
>- We can use the **`from`** keyword to import specific name(s) from a module instead of importing the entire contents of a module. This way we don't have to use the dot operator and can access the function directly by its name

In [4]:
from math import ceil
print(dir())
ceil(2.3)

['In', 'Out', '_', '_2', '_3', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__session__', '__spec__', '_dh', '_i', '_i1', '_i2', '_i3', '_i4', '_ih', '_ii', '_iii', '_oh', 'ceil', 'exit', 'get_ipython', 'm', 'math', 'open', 'quit']

3

### d. Option 4:`from mymath import *`
>- We can import all the attributes from a module using asterik `*` construct. The difference between `import math` and `from math import *` is that in the later case you can don't have to use the dot operator and can directly use the functions, e.g., `ceil()`

In [5]:
from math import *
print(dir())
ceil(2.3)

['In', 'Out', '_', '_2', '_3', '_4', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__session__', '__spec__', '_dh', '_i', '_i1', '_i2', '_i3', '_i4', '_i5', '_ih', '_ii', '_iii', '_oh', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exit', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'get_ipython', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'm', 'math', 'modf', 'nan', 'nextafter', 'open', 'perm', 'pi', 'pow', 'prod', 'quit', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

3

## 3. The `math` Module

### a. Constants of Math Module

- **PI:** 
    - PI is the ratio of a circle's circumference (c) to its diameter (d).
    - It is an irrational number, so it can be approximated to the value 22/7 = 3.141592...
    - You can access its value since it is defined as a constant inside the math module with the name of 'pi', and is given correct upto 15 digits after the decimal point
    - Pi has been calculated to over 50 trillion digits beyond its decimal point.  PI’s infinite nature makes it a fun challenge to memorize, and to computationally calculate more and more digits
    - Pi Day is celebrated on March 14th (3/14) around the world.

In [6]:
math.pi

3.141592653589793

- **TAU:**
    - TAU is the ratio of a circule's circumference (c) to its radius (r).
    - This constant is equal to 2PI, or roughly 6.28
    - Like PI, TAU is also an irrational number, and can be approximated to the value 2PI = 6.28318...

In [7]:
math.tau

6.283185307179586

- **Euler's Number:**
    - Euler's number (e) is a constant that is the base of natural logarithm.
    - It is a mathematical function that is commonly used to calculate rates of growth of decay.
    - As with PI and TAU, `e` is also an irrational number with approximated value of 2.718

In [8]:
math.e

2.718281828459045

- **Infinity:**
    - Infinity can't be defined by a number or a numeric value
    - It is a mathematical concept representing something that is never ending or boundless.
    - Infinity can go in either direction (positive as well as negative)
    - `math.inf` (added to Python 3.5) is a special data type equivalent to a float

In [9]:
math.inf

inf

In [10]:
type(math.inf)

float

In [11]:
# Proof of concept: Positive infinity is greater than any highest known number
math.inf > 99993999999999929999999999456748884839999883

True

In [12]:
# Proof of concept: Negative infinity is smaller than any smallest known number
-math.inf < -91876999999999999999999999954309873211234

True

In [13]:
# Proof of concept: Whatever number is added/subtracted to positive infinity, the result is positive infinity
math.inf + 324987699999999543

inf

In [14]:
# Proof of concept: Whatever number is subtracted/added from negative infinity, the result is negative infinity
-math.inf - 324999999999876543

-inf

- **NaN (Not a Number):**
    - Not a Number is not a mathematical concept, rather is introduced in the field of computer science as a reference to values that are not numeric
    - `NaN` value can be due to invalid inputs, or it can indicate that a variable that should be numerical has been corrupted by text characters or symbols

In [15]:
math.nan

nan

In [16]:
type(math.nan)

float

### b. Arithmetic Functions of Math Module

- Factorial of a number is obtained by multiplying that number and all numbers below it till one
- Factorial is not defined for negative values as well as for decimal values. Factorial of zero is 1

In [17]:
def fact_loop(num):
    if num < 0:
        return 0
    if num == 0:
        return 1

    factorial = 1
    for i in range(1, num + 1):
        factorial = factorial * i
    return factorial
fact_loop(50)

30414093201713378043612608166064768844377641568960512000000000000

In [18]:
def fact_recursion(num):
    if num < 0:
        return 0
    if num == 0:
        return 1

    return num * fact_recursion(num - 1)
fact_loop(50)

30414093201713378043612608166064768844377641568960512000000000000

In [19]:
import math
math.factorial(50)

30414093201713378043612608166064768844377641568960512000000000000

**Lets compare the execution time of calculating factorial using above three ways, using the `timeit()` method which returns the time taken to execute the statements a specified number of times**
```
timeit.timeit(stmt, setup, globals, number)
```
Where
- `stmt`: Code statement(s) whose execution time is to be measured.(Use ; for multiple statements)
- `setup`: Used to import some modules or declare some necessary variables. (Use ; for multiple statements)
- `globals`: You can simplay pass `globals()` to the globals parameter, which will cause the code to be executed within your current global namespace
- `number`: It specifies the number of times stmt will be executed. (Default is 1 million times)

In [20]:
import timeit
timeit.timeit("fact_loop(10)", globals=globals(), number = 1000000)

1.9310954000102356

In [21]:
timeit.timeit("fact_recursion(10)", globals=globals(), number = 1000000)

3.189488200005144

In [22]:
timeit.timeit("math.factorial(10)", setup = "import math", number = 1000000)

0.17875720001757145

In [23]:
import math
math.ceil(20.222), math.ceil(-11.85)

(21, -11)

In [24]:
import math
math.floor(20.99), math.floor(-13.1)

(20, -14)

In [25]:
import math
math.trunc(20.99), math.trunc(-13.1)

(20, -13)

In [26]:
# perm(n,k) = n!/(n-k)!
import math
math.perm(3,2)
#All permutations made by with letters a, b, c by taking two at a time are six (ab, ba, ac, ca, bc, cb)

6

In [27]:
# comb(n,k) = n!/k!(n-k)!
import math
math.comb(3,2)
#All combinations made by with letters a, b, c by taking two at a time are three (ab, ac, bc)

3

In [28]:
import math
math.gcd(39,27), math.gcd(100,50)

(3, 50)

In [29]:
import math
math.lcm(20,30) # 60. Available on Python 3.9, I have currently Python3.8 :(

60

### c. Power and Logarithmic Functions of Math Module

In [30]:
# Example: The power(a,b) function returns a**b. Available in the math module as well as Python built-in function
# The pow() function in the math module is computationally faster
import math
a = 2
b = 5
a**b , pow(a,b), math.pow(a,b)

(32, 32.0, 32.0)

In [31]:
# Example: The sqrt(x) function returns a number y such that y² = x;
import math
math.sqrt(25)

5.0

In [32]:
# Example: The exp(x) function returns e**x, where e is Euler's number (2.718281828459045)
import math
x = 3
math.e ** x, math.exp(x)

(20.085536923187664, 20.085536923187668)

In [33]:
# Example: The log(x, base) function return the logarithm of x to the mentioned base. Default base is e
# Logarithm is the inverse function to exponentiation 

math.log(8), math.log(8, math.e), math.log(8, 2), math.log(8, 10)

(2.0794415416798357, 2.0794415416798357, 3.0, 0.9030899869919434)

### d. Trigonometric and Hyperbolic Functions of Math Module
- The word trigonometry comes from the Greek words trigonon (“triangle”) and metron (“to measure”). 
- Trigonometry is the branch of mathematics dealing with the relations of the sides and angles of triangles and with the relevant functions of any angles. 
- Trigonometric functions are used in obtaining unknown angles and distances from known or measured angles in geometric figures.
- Note: Hyperbolic functions are analogues of the ordinary trigonometric functions, but defined using the hyperbola rather than the circle.

In [34]:
# Six functions of an angle: sin(), cos(), tan(), asin(), acos(), atan().
# The angle given to these functions should be in radians. A circle has 360 degrees and 2pi radians
import math
math.sin(0), math.sin(3.14)

(0.0, 0.0015926529164868282)

In [35]:
# Examples of Hyperbolic Functions: sinh(), cosh(), tanh(), asinh(), acosh(), atanh()
import math
math.sinh(3.14)

11.53029203041011

## 4. The `random` Module

In [36]:
#import random module
import random

# use dir() to get the list of complete functions in random module
print("Existing functions in Random module: \n\n", dir(random))

Existing functions in Random module:

 ['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_ONE', '_Sequence', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_accumulate', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_fabs', '_floor', '_index', '_inst', '_isfinite', '_lgamma', '_log', '_log2', '_os', '_pi', '_random', '_repeat', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'binomialvariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randbytes', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

### a. The `random.random()` Function
- This function `random.random()` returns a random float value in the interval [0,1), i.e., 0 is inclusive while 1 is not

In [37]:
rv = random.random()
rv

0.42584843029348274

### b. The `random.uniform()` Function
- This function `random.uniform(a, b)` returns a random float value in the interval a and b

In [38]:
rv = random.uniform(0, 100)
rv

1.7424188546978248

In [39]:
random.randint(1,100)

31

### c. The `random.randint()` and `random.randrange()` Functions
- We have seen the use of the built-in `range()` function that provides a range object, using which you can generate a list of numbers in that specific range
- The `random.randint(start, stop)` returns one random integer (with start and stop both inclusive).
- The `random.randrange(start, stop=None, step=1)` returns one random integer (with stop NOT inclusive).

In [40]:
# Note the stop value is also inclusive, which is unlike what we expect in Python
import random
random.randint(0, 5)

2

In [41]:
# This fixes the problem and does not include the endpoint
random.randrange(0, 5)

4

### d. The `random.choice()` Function
- This function is passed a non-empty sequence and returns a random element from that sequence
```
random.choice(seq)
```

In [42]:
import random

# select a random element from a list
list1 = ['Arif', 'Rauf', 'Mujahid']
print("Random element from list: ", random.choice(list1))
  
# select a random character from a string
string = "HappyLearning"
print("Fetching Random item from string: ", random.choice(string))
  
# select a random item from a tuple
tuple1 = (1, 2, 3, 4, 5)
print("Fetching Random element from Tuple: ",random.choice(tuple1))

Random element from list:  Mujahid
Fetching Random item from string:  g
Fetching Random element from Tuple:  5

**With this background, one should be able explore other methods as and when required**

## Bonus Info:
- Before, we discuss Python's `time`, `datetime`, and `calendar` modules, let me put the stage right by having a brief discussion on the concept of time and time zones:

### Calendar Time:
- The time measured from some fixed/reference point is called real time and once category of it is calendar time. Some famous reference points and their corresponding calendars are:
    - **Hijri Calendar** (AH), measures time from the year of Hijrat, when prophet Muhammad (Peace be upon Him) migrated from Mecca to Madina
    - **Gregorian Calendar** (AD), measures time from birth year of Jesus Christ. AD stands for Anno Domini in Latin, means "In the year of Jesus Christ"
    - **UNIX Calendar**, measures time from birth year of UNIX called UNIX epoch (00:00:00 UTC on 1 January 1970)

### Time Zones:
- Since noon happens at different times in different parts of the world, therefore, we have divided the world in different time zones.
- On Mac, Linux, and Windows operating systems, the information about these time zones is kept in files.
- Let me show you the contents of these files on my Mac system

## 5. The `time` Module

In [43]:
import time

# use dir() to get the list of complete functions in time module
print("Existing functions in time module: \n\n", dir(time))

Existing functions in time module:

 ['_STRUCT_TM_ITEMS', '__doc__', '__loader__', '__name__', '__package__', '__spec__', 'altzone', 'asctime', 'ctime', 'daylight', 'get_clock_info', 'gmtime', 'localtime', 'mktime', 'monotonic', 'monotonic_ns', 'perf_counter', 'perf_counter_ns', 'process_time', 'process_time_ns', 'sleep', 'strftime', 'strptime', 'struct_time', 'thread_time', 'thread_time_ns', 'time', 'time_ns', 'timezone', 'tzname']

**(i) The `time.sleep(seconds)` method is used to delay execution for a given number of seconds. The argument may be a floating point number for subsecond precision.**

In [44]:
import time
print("This is printed immediately.")
time.sleep(4)
print("This is printed after 4 seconds.")

This is printed immediately.
This is printed after 4 seconds.

**(ii) The `time.time()` method returns the current time in seconds since UNIX Epoch (00:00:00 UTC on 1 January 1970).**

In [45]:
import time
seconds = time.time()
seconds

1722320137.3793595

**(iii) The `time.ctime(seconds)` method takes seconds passed since epoch as argument and returns a string representing local time.**

In [46]:
import time
dtg1 = time.ctime(0)
dtg1

'Wed Dec 31 16:00:00 1969'

In [47]:
import time
seconds = time.time()
dtg2 = time.ctime(seconds)
dtg2

'Mon Jul 29 23:15:37 2024'

**With this background, one should be able explore other methods as and when required**

## 6. The `datetime` Module

In [48]:
# import datetime module
import datetime

# use dir() to get the list of complete functions in datetime module
print("Existing functions in datetime module: \n\n", dir(datetime))

Existing functions in datetime module:

 ['MAXYEAR', 'MINYEAR', 'UTC', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'time', 'timedelta', 'timezone', 'tzinfo']

In [49]:
#The smallest year number allowed in a date or datetime object. MINYEAR is 1.
datetime.MINYEAR

1

In [50]:
#The largest year number allowed in a date or datetime object. MAXYEAR is 9999.
datetime.MAXYEAR

9999

**(i) The `datetime.datetime.today()` and `datetime.datetime.now()` methods return a datetime object as per the time zone of the system**

In [51]:
dtg = datetime.datetime.today()
dtg

datetime.datetime(2024, 7, 29, 23, 15, 37, 550337)

In [52]:
dtg = datetime.datetime.now()
dtg

datetime.datetime(2024, 7, 29, 23, 15, 37, 574370)

**(ii) Let us explore some commonly used attributes related with the `datetime` object.**
- `dtg.year:` returns the year
- `dtg.month:` returns the month
- `dtg.day:` returns the date
- `dtg.hour:` returns the hour
- `dtg.minute:` returns the minutes
- `dtg.second:` returns the seconds
- `dtg.microsecond:` returns the microseconds

In [53]:
dtg.year

2024

In [54]:
dtg.day

29

In [55]:
dtg.hour

23

In [56]:
dtg.microsecond

574370

**(iii) The `datetime.datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])` method is used to create a `datetime` object**

In [57]:
import datetime
dtg = datetime.datetime(2021,12,31)
print(dtg)
print(type(dtg))

2021-12-31 00:00:00
<class 'datetime.datetime'>

In [58]:
dtg = datetime.datetime(2021, 12, 31, 4, 30, 54, 678)
dtg

datetime.datetime(2021, 12, 31, 4, 30, 54, 678)

**(iv)  The `datetime.time([hour[, minute[, second[, microsecond[, tzinfo]]]]]) ` methods returns a `time` object.**

In [59]:
t1 = datetime.time(10, 15, 54, 247)
print(t1)
print(type(t1))

10:15:54.000247
<class 'datetime.time'>

**With this background, one should be able explore other methods as and when required**

## 7. The `calendar` Module

In [60]:
import calendar

# use dir() to get the list of complete functions in calendar module
print("Existing functions in calendar module: \n\n", dir(calendar))

Existing functions in calendar module:

 ['APRIL', 'AUGUST', 'Calendar', 'DECEMBER', 'Day', 'EPOCH', 'FEBRUARY', 'FRIDAY', 'HTMLCalendar', 'IllegalMonthError', 'IllegalWeekdayError', 'IntEnum', 'JANUARY', 'JULY', 'JUNE', 'LocaleHTMLCalendar', 'LocaleTextCalendar', 'MARCH', 'MAY', 'MONDAY', 'Month', 'NOVEMBER', 'OCTOBER', 'SATURDAY', 'SEPTEMBER', 'SUNDAY', 'THURSDAY', 'TUESDAY', 'TextCalendar', 'WEDNESDAY', '_EPOCH_ORD', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__getattr__', '__loader__', '__name__', '__package__', '__spec__', '_colwidth', '_get_default_locale', '_locale', '_localized_day', '_localized_month', '_monthlen', '_nextmonth', '_prevmonth', '_spacing', 'c', 'calendar', 'datetime', 'day_abbr', 'day_name', 'different_locale', 'error', 'firstweekday', 'format', 'formatstring', 'global_enum', 'isleap', 'leapdays', 'main', 'mdays', 'month', 'month_abbr', 'month_name', 'monthcalendar', 'monthrange', 'prcal', 'prmonth', 'prweek', 'repeat', 'setfirstweekday', 'sys', 'timegm', 'warnings', 'week', 'weekday', 'weekheader']

In [61]:
# calendar() method to print the calendar of whole year
cy = calendar.calendar(2021) 
print(cy)

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [62]:
import calendar
# month() method is used to print calendar of specific month

#print calendar of November 2021
c = calendar.month(2021,11) 
print(c)

   November 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [63]:
import calendar
# can check wether the year is leap year or not
print("2021 is leap year: ", calendar.isleap(2021))

print("2020 was be leap year: ", calendar.isleap(2020))

2021 is leap year:  False
2020 was be leap year:  True

## Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. What are modules in Python?
2. What is a Python library?
3. What is the Python Standard Library?
4. What are some popular Python libraries?
5. Where can you learn about the modules and functions available in the Python standard library?
6. How do you install a third-party library?
7. What is a module namespace? How is it useful?
8. What problems would you run into if Python modules did not provide namespaces?
9. How do you import a module?
10. How do you use a function from an imported module? Illustrate with an example.
11. What are some popular Python libraries?
12. How do you identify the current working directory in a Jupyter notebook?
13. How do you retrieve the list of files within a directory using Python?
14. How do you create a directory using Python?
15. What are some popular Python libraries?